:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  padding: 20px; /* change this */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




label, input, select {
  display: block;
}
input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error, select.error {
  border: 1px solid var(--error);
}

.icon {
  cursor: pointer;
}